---
const {width, height} = Astro.props;
const socialLinks = [

	{
		title: 'Instagram',
		icon: 'mdi:instagram',
		href: 'https://www.instagram.com/megatarzan69?igsh=ZGUzMzM3NWJiOQ==',

	}
];
---

<div class="icons__container">
    {
        socialLinks.map((data) => (
            <a
                href={data.href}
                target="_blank"
                rel="nofollow noreferrer noopener"
            >
                <iconify-icon
					class=`skill__icon ${data.title}`
                    icon={data.icon}
                    width={width}
                    height={height}
                />
            </a>
        ))
    }
</div>

<style>
	.icons__container {
		margin: auto;
		display: flex;
    width: 29.6rem;
    /* padding: 1.3rem 4rem; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.skill__icon{
	color:#dcd8fc;
}

	.Instagram:hover{
	color: #E1306C;
	}



</style>